@model Project3.Models.Policy

@{
    ViewData["Title"] = "Edit";
    var insurancePlanSelectlist = ViewBag.InsurancePlanId;
}

<section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <form asp-controller="Policies" asp-action="Edit">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5" style="color: #4835d4;">Policy Holder Information</h3>

                                        <div class="mb-4 pb-2">
                                            <select class="form-select" asp-items="insurancePlanSelectlist" asp-for="InsurancePlanId">
                                            </select>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <input asp-for="InsuranceInformation.FullName" type="text" id="form3Examplev2" class="form-control form-control-lg" />
                                                    <label asp-for="InsuranceInformation.FullName" class="form-label">Full Name</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <input type="text" id="form3Examplev3" class="form-control form-control-lg" asp-for="InsuranceInformation.PolicyHolderCId" />
                                                    <label class="form-label" asp-for="InsuranceInformation.PolicyHolderCId">CID</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="mb-4 pb-2">


                                            <div class="form-outline">
                                                <input asp-for="InsuranceInformation.Email" type="text" id="form3Examplev2" class="form-control form-control-lg" />
                                                <label asp-for="InsuranceInformation.Email" class="form-label">Email</label>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <input asp-for="InsuranceInformation.PolicyHolderAddress" type="text" id="form3Examplev2" class="form-control form-control-lg" />
                                                    <label asp-for="InsuranceInformation.PolicyHolderAddress" class="form-label">Address</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <input type="text" id="form3Examplev3" class="form-control form-control-lg" asp-for="InsuranceInformation.PhoneNumber" />
                                                    <label class="form-label" asp-for="InsuranceInformation.PhoneNumber">Phone Number</label>
                                                </div>

                                            </div>
                                        </div><div class="mb-4 pb-2">


                                            <div class="form-outline">
                                                <input asp-for="InsuranceInformation.LicensePlateNumber" type="text" id="form3Examplev2" class="form-control form-control-lg" />
                                                <label asp-for="InsuranceInformation.LicensePlateNumber" class="form-label">License Plate Number</label>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <input asp-for="InsuranceInformation.VehicleModel" type="text" id="form3Examplev2" class="form-control form-control-lg" />
                                                    <label asp-for="InsuranceInformation.VehicleModel" class="form-label">Vehicle Model</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <input type="text" id="form3Examplev3" class="form-control form-control-lg" asp-for="InsuranceInformation.VehicleYear" />
                                                    <label class="form-label" asp-for="InsuranceInformation.VehicleYear">Vehicle Year</label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 bg-indigo">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5" style="color: gray ;">Policy Information</h3>


                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <input asp-for="Name" type="text" id="form3Examplev2" class="form-control form-control-lg" />
                                                    <label asp-for="Name" class="form-label">Policy Name</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-check form-switch d-flex justify-content-center align-content-center">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" asp-for="Status">
                                                    <label class="form-check-label" for="flexSwitchCheckChecked" asp-for="Status">Active Status</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="mb-4 pb-2">


                                            <div class="form-outline">
                                                <input asp-for="Description" type="text" id="form3Examplev2" class="form-control form-control-lg" />
                                                <label asp-for="Description" class="form-label">Description</label>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <input asp-for="StartDate" type="date" id="form3Examplev2" class="form-control form-control-lg" />
                                                    <label asp-for="StartDate" class="form-label">Start Date</label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">

                                                <div class="form-outline">
                                                    <input type="date" id="form3Examplev3" class="form-control form-control-lg" asp-for="EndDate" />
                                                    <label class="form-label" asp-for="EndDate">End Date</label>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="form-outline">
                                                    <input type="text" hidden value="@Model.User.Id" id="form3Examplev3" class="form-control form-control-lg" asp-for="UserId" />
                                            <input type="submit" id="form3Examplev2" class="text-black-50 form-control form-control-lg btn btn-primary" value="Submit" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

