@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewBag.CurrentPage = "loan";
}
@section head{

    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
}

<!-- Apply Area Start -->
<div class="apply-area pt-150 pb-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="apply-wrapper">
                    <!-- Form -->
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <label>* LOAN AMOUNT ($) </label>
                                    <input type="text" name="" placeholder="Enter name">
                                </div>
                            </div>
                            <!-- Nice Select -->
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <label>* PURPOSE OF LOAN </label>
                                    <div class="select-option mb-10">
                                        <select name="select" id="select1">
                                            <option value="">Choose Categories</option>
                                            <option value="">Category 1</option>
                                            <option value="">Category 2</option>
                                            <option value="">Category 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Radio -->
                            <div class="col-lg-12">
                                <div class="single-form  d-flex">
                                    <label>* Select Gender :</label>
                                    <!--Radio Select -->
                                    <div class="select-radio6">
                                        <div class="radio">
                                            <input id="radio" name="radio" type="radio" checked="">
                                            <label for="radio-6" class="radio-label">Male</label>
                                        </div>
                                        <div class="radio">
                                            <input id="radio" name="radio" type="radio">
                                            <label for="radio-7" class="radio-label">Female</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- First Name -->
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <label>* FIRST NAME</label>
                                    <input type="text" name="" placeholder="Enter name">
                                </div>
                            </div>
                            <!-- Last Name -->
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <label>* Last NAME</label>
                                    <input type="text" name="" placeholder="Enter name">
                                </div>
                            </div>
                            <!-- Nice Select -->
                            <!-- Nice Select -->
                            <div class="col-lg-12">
                                <div class="single-form">
                                    <label>* NUMBER OF DEPENDANTS</label>
                                    <div class="select-option mb-10">
                                        <select name="select" id="select1">
                                            <option value="">Choose Option</option>
                                            <option value="">Category 1</option>
                                            <option value="">Category 2</option>
                                            <option value="">Category 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- First Name -->
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <label>* Email Adderess</label>
                                    <input type="email" name="" placeholder="Enter email">
                                </div>
                            </div>
                            <!-- Last Name -->
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <label>* Phone Number</label>
                                    <input type="text" name="" placeholder="Enter Number">
                                </div>
                            </div>
                            <!-- Nice Select -->
                            <div class="col-lg-12">
                                <div class="single-form">
                                    <label>* MARITAL STATUS</label>
                                    <div class="select-option mb-10">
                                        <select name="select" id="select1">
                                            <option value="">Choose Categories</option>
                                            <option value="">Category 1</option>
                                            <option value="">Category 2</option>
                                            <option value="">Category 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- First Name -->
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <label>* FIRST NAME</label>
                                    <input type="text" name="" placeholder="Enter name">
                                </div>
                            </div>
                            <!-- TOWN/CITY-->
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <label>* TOWN/CITY</label>
                                    <input type="text" name="" placeholder="Enter city">
                                </div>
                            </div>
                            <!-- Street Address -->
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <label>* STREET</label>
                                    <input type="text" name="" placeholder="Enter Street Address">
                                </div>
                            </div>
                            <!-- HOUSE NAME/NUMBER -->
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <label>* HOUSE NAME/NUMBER</label>
                                    <input type="text" name="" placeholder="Enter House Name">
                                </div>
                            </div>
                            <!-- Nice Select -->
                            <div class="col-lg-12">
                                <div class="single-form">
                                    <label>* HOMEOWNER STATUS </label>
                                    <div class="select-option mb-10">
                                        <select name="select" id="select1">
                                            <option value="">Enter Houseowner ststus</option>
                                            <option value="">Category 1</option>
                                            <option value="">Category 2</option>
                                            <option value="">Category 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--  EMPLOYMENT INDUSTRY -->
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <label>* EMPLOYMENT INDUSTRY</label>
                                    <input type="text" name="" placeholder="Enter INDUSTRY">
                                </div>
                            </div>
                            <!-- Last Name -->
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <label>* EMPLOYER NAME</label>
                                    <input type="text" name="" placeholder="Enter name">
                                </div>
                            </div>
                            <!--PHONE NUMBER -->
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <label>* WORK PHONE NUMBER</label>
                                    <input type="text" name="" placeholder="Phone Number">
                                </div>
                            </div>
                            <!--  MONTHLY INCOME -->
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <label>* MONTHLY INCOME ($)</label>
                                    <input type="text" name="" placeholder="Enter name">
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- End From -->
                    <!-- Form btn -->
                    <a href="#" class="btn apply-btn mt-30">APPLY NOW </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Apply Area End -->
@section Scripts{

}